/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"); */

:root {
  font-family: Poppins, Arial, sans-serif;
  font-display: swap;
  font-weight: 200;
  margin: 0px;
  padding: 0px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.vertical-timeline-element-content p {
  margin-top: 0px !important;
}
